{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="ten wide column centered">

        <h1 class="ui teal header centered">Sign up</h1>

        <form class="ui form" action="/storeUser/" method="POST">
            {% csrf_token %}
            <div class="ui stacked segment">

                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="John Doe" required>
                </div>

                <div class="field">
                    <label for="user_email">Email address</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="user_email" id="user_email" placeholder="user@example.com" required>
                    </div>
                </div>

                <div class="field">
                    <label for="password">Password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                </div>

                <div class="field">
                    <label for="confirm_password">Confirm Password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="confirm_password" id="confirm_password" placeholder="Password" required>
                    </div>
                </div>
                <!-- code for password validation not working

                <input type="text" name="confirm_password" id="confirm_password" placeholder="eg123" onkeyup="checkPass(); return false;">
                <span id="confirmMessage" class="confirmMessage"></span>

                -->
                <button type="submit" class="ui fluid large teal submit button">Sign up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}