{% extends "base.html" %}

{% block title %}Add funding{% endblock %}

{% block style %}
<style>
    .ui.form.confirm-pledge, .confirm-p {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}

<div class="ui grid">
    <div class="ten wide column centered">
        <div class="ui segment">
            <h1 class="ui header center aligned">Confirm pledge</h1>
            <p class="confirm-p">You will be pledging <b>${{ amount }} </b>for the project <b>{{ title }}</b>.</p>
            <form class="ui form confirm-pledge" action="/storeFunding/?pid={{ pid }}&amount={{ amount }}" method="POST">
                {% csrf_token %}
                    <a href="/projectDetails/?pid={{ pid }}" class="ui red button" role="button">No</a>
                    <button type="submit" class="ui green button">Yes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}