{% extends "base.html" %}

{% block title %}Add funding{% endblock %}

{% block style %}
    <style>
        .confirm-buttons {
            width: 100px;
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Confirm pledge</h1>
    <p class="text-center">You will be pledging ${{ amount }} for the project {{ title }}.</p>
    <div class="center-block confirm-buttons">
        <form action="/storeFunding/?pid={{ pid }}&amount={{ amount }}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success pull-left">Yes</button>
        </form>
        <a href="/projectDetails/?pid={{ pid }}" class="btn btn-danger pull-right" role="button">No</a>
    </div>
</div>
{% endblock %}