{% extends "base.html" %}

{% block title %}Project details{% endblock %}

{% block style %}
    <style>
        .project-footer {
            width: 100%;
            overflow: auto;
        }
        .funded-bar-wrapper {
            overflow: hidden;
            height: 12px;
            border-radius: 6px;
        }
        .funded-bar {
            height: 100%;
            border-radius: 6px;
        }
        .bg-grey {
            background-color: #F1EEEA;
        }
        .bg-green {
            background-color: #2BDE73;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            <h1 class="text-center">{{ project.0 }}</h1>
            <p class="text-center">{{ project.1 }}</p>
            <img class="center-block" src="http://vignette2.wikia.nocookie.net/walkingdead/images/3/3f/Shut-up-and-take-my-money.jpg/revision/latest/scale-to-width-down/1280?cb=20140829235648"
                 alt="Shut up and take my money" width="800px">
            <div class="project-footer">
                <div class="pull-left">
                    <span><b>Target fund: {{ project.3 }}</b></span>
                    <div class="funded-bar-wrapper bg-grey">
                        <div class="funded-bar bg-green" style="width: 60%"></div>
                    </div>
                </div>
                <span class="pull-right"><b>Ends on: {{ project.4 }}</b></span>
            </div>
            <div>
                <button type="button" class="btn btn-success pull-left">Pledge</button>
                <a href="/editProject/?pid={{ project.5 }}" class="btn btn-warning pull-right" role="button">Edit</a>
                <a href="/deleteProject/?pid={{ project.5 }}" class="btn btn-danger pull-right" role="button">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}