{% extends "base.html" %}

{% block title %}Take My Money{% endblock %}

{% block content %}
    <div class="container">
        <h1>Project list</h1>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="categoryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="categoryList" aria-labelledby="categoryMenu">
                <li><a href="/projectList/?category=All">All</a></li>
                {% for category in categories %}
                <li><a href="/projectList/?category={{ category.name }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <table class="table">
            <thead>
                <th>Title</th>
                <th>Description</th>
                <th>Target Fund</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Category</th>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="/projectDetails/?pid={{ project.pid }}">{{ project.title }}</a></td>
                <td>{{ project.description }}</td>
                <td>{{ project.target_fund }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.end_date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
