{% extends "base.html" %}

{% block title %}Take My Money{% endblock %}

{% block style %}
<style>
/*
    div.blue {
        background-color: #2980B9 !important;
        color: #ECF0F1 !important;
        text-shadow: none !important;
        background-image: none !important;
    }
*/

    .ui.pagination .item>i.icon {
        margin: 0 !important;
    }
</style>
{% endblock %}

{% block content %}
    <!-- TODO: Replace all Bootstrap components with Semantic -->
    <!-- TODO: Should show only projects that has started -> do an SQL for this -->
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header">Project list</h1>
            <div class="ui compact menu">
                <div class="ui simple dropdown item">
                    Category
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="/projectList/?category=All">All</a>
                        {% for category in categories %}
                            <a class="item" href="/projectList/?category={{ category.name }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- NOTE: remove the 'four stackable' and you'll have a fixed size stackable cards, but default to 3 in a row -->
        <div class="ui four stackable cards">
            {% for project in projects %}
                <div class="teal card">
                    <a class="image" href="/projectDetails/?pid={{ project.pid }}">
                        <img src="{{ project.photo_url }}">
                    </a>
                    <div class="content">
                        <a class="header" href="/projectDetails/?pid={{ project.pid }}">{{ project.title }}</a>
                        <div class="meta">Ends on <b>{{ project.end_date }}</b></div>
                        <div class="description">{{ project.description }}</div>
                    </div>
                    <div class="extra content">
                        <div class="right floated">
                            Target fund: <b>${{ project.target_fund }}</b>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="sixteen wide column">
            <div class="ui pagination menu floated right">

                {% if page.has_previous %}
                    <a class="item" href="?page={{page.previous_page_number}}">
                {% else %}
                    <a class="disabled item">
                {% endif %}
                        <i class="angle left icon"></i>
                    </a>


                {% for i in page.paginator.page_range %}
                    {% if page.number == i %}
                        <a class="active item">
                    {% else %}
                        <a class="item" href="?page={{i}}">
                    {% endif %}
                            {{ i }}
                        </a>
                {% endfor %}


                {% if page.has_next %}
                    <a class="item" href="?page={{page.next_page_number}}">
                {% else %}
                    <a class="disabled item">
                {% endif %}
                        <i class="angle right icon"></i>
                    </a>
            </div>
        </div>




        <!--<table class="table">-->
            <!--<thead>-->
                <!--<th>Title</th>-->
                <!--<th>Description</th>-->
                <!--<th>Target Fund</th>-->
                <!--<th>Start Date</th>-->
                <!--<th>End Date</th>-->
                <!--<th>Category</th>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--{% for project in projects %}-->
            <!--<tr>-->
                <!--<td><a href="/projectDetails/?pid={{ project.pid }}">{{ project.title }}</a></td>-->
                <!--<td>{{ project.description }}</td>-->
                <!--<td>${{ project.target_fund }}</td>-->
                <!--<td>{{ project.start_date }}</td>-->
                <!--<td>{{ project.end_date }}</td>-->
                <!--<td>{{ project.category }}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
            <!--</tbody>-->
        <!--</table>-->
    </div>


{% endblock %}
