{% extends "base.html" %}

{% block title %}{{ project.title }} - Take My Money{% endblock %}

{% block style %}
    <style>
        #project_img {
            max-width: 800px;
            max-height: 600px;
        }

        .project-footer {
            width: 100%;
            overflow: auto;
        }
        .funded-bar-wrapper {
            overflow: hidden;
            height: 12px;
            border-radius: 6px;
        }
        .funded-bar {
            height: 100%;
            border-radius: 6px;
        }
        .bg-grey {
            background-color: #F1EEEA;
        }
        .bg-green {
            background-color: #2BDE73;
        }
        .category {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui grid" id="project-details">

        <!-- Project details -->
        <div class="sixteen wide column center aligned">
            <h1 class="ui header">{{ project.title }}</h1>
            <p>{{ project.description }}</p>
            {% if project.photo_url %}
                <img class="centered" src="{{ project.photo_url }}"
                 alt="project.photo_url" id="project_img">
            {% endif %}
            <div class="ui segment">
                <div class="ui two column grid">
                    <div class="left floated column left aligned middle aligned">
                        <label>Category: </label>
                        {% for project_cate in project_categories %}
                            <a class="ui teal label" href="/projectList/?category={{ project_cate.category_name }}">{{ project_cate.category_name }}</a>
                        {% endfor %}
                    </div>

                    <div class="right floated column right aligned middle aligned">
                        <!-- TODO: Need to check ownership -->
                        {% if user_id %}
                            <a href="/editProject/?pid={{ project.pid }}" class="ui orange button right floated" role="button">Edit</a>
                            <a href="/deleteProject/?pid={{ project.pid }}" class="ui red button right floated" role="button">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div class="sixteen wide column">
            <div class="ui grid">
                <!-- Pledgers table -->
                <div class="eight wide column">
                    <table class="ui striped table">
                        <thead>
                            <tr>
                                <th class="left aligned">Pledger</th>
                                <th class="right aligned">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%if pledges %}
                                {% for pledge in pledges %}
                                    <tr>
                                        <td class="left aligned">
                                            <a href="/userDetails/?user_id={{ pledge.pledger_id }}">{{ pledge.pledger_name }}</a>
                                        </td>
                                        <td class="right aligned">${{ pledge.amount }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="center aligned" colspan="2">No pledger yet</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <!-- Pledge segment -->
                <div class="eight wide column">
                    <div class="ui segment">
                        <h4 class="ui header"><b>Target fund: {{ project.target_fund }}</b></h4>
                        <h4 class="ui header"><b>Ends on: {{ project.end_date }}</b></h4>
                        <div class="funded-bar-wrapper bg-grey">
                            <div class="funded-bar bg-green" style="width: {{ funded_percentage }}%"></div>
                        </div>

                        {% if user_id %}
                            <br>
                            <form class="ui form" action="/addFunding/?pid={{ project.pid }}" method="POST">
                                {% csrf_token %}
                                <div class="field">
                                    <label for="amount">Amount to pledge</label>
                                    <input type="number" name="amount" id="amount" placeholder="Amount to pledge">
                                </div>
                                <button type="submit" class="ui green button">Pledge</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        {% if related %}
            <!-- Related Projects -->
            <div class="sixteen wide column">
                <h2 class="ui header center aligned">Related Projects</h2>
                <div class="ui four stackable cards">
                    {% for project in related %}
                        {% include 'project_card.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}