{% extends "base.html" %}

{% block title %}Role Log{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header">User Role Log</h1>
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Transaction Time</th>
                        <th>User ID</th>
                        <th>Previous Role</th>
                        <th>New Role</th>
                    </tr>
                </thead>
                <tbody>
                {% if logs %}
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.transaction_date|date:'r' }} </td>
                            <td><a href="/userDetails/?user_id={{ log.user_id }}">{{ log.user_id }}</a></td>
                            <td>{{ log.prev_role }}</td>
                            <td>{{ log.next_role }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="center aligned">No user log</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
