{% extends "base.html" %}

{% block title %}Search project{% endblock %}

{% block content %}
    <div class="container">
        <h1>Search for a project</h1>
        <form action="/projectDetails/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="search_title">Project title</label>
                <input type="text" class="form-control" name="search_title" id="search_title" placeholder="Title of project to be searched">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
    </div>
{% endblock %}