{% extends "base.html" %}

{% block title %}Details of {{ user_name }}{% endblock %}

{% block style %}
<style>
    .list-header {
        margin-top: 10px !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="ui card centered">
    <div class="content">
        <div class="header">{{ target_name }}</div>
        <div class="meta">{{ target_email }}</div>
    </div>
    {% if role == 'admin' %}
        <div class="extra content">
            <span class="left floated">
                <b>User role: {{ target_role }}</b>
            </span>
            <span class="right floated">
                {% if target_role != 'admin' %}
                    <a href="/makeAdmin/?user_id={{ target_id }}" class="ui orange button" role="button">Make Admin</a>
                {% endif %}
                {% if me %}
                    <a href="/revokeAdmin/" class="ui orange button" role="button">Revoke Admin</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <h1 class="ui header center aligned list-header">Owned Projects</h1>
        <div class="ui four stackable cards">
            {% for project in owned_projects %}
                {% include 'project_card.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="sixteen wide column">
        <h1 class="ui header center aligned list-header">Pledged Projects</h1>
        <div class="ui four stackable cards">
            {% for project in pledged_projects %}
                {% include 'project_card.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}