{% extends "base.html" %}

{% block title %}User list{% endblock %}

{% block content %}
    <div class="container">
        <h1>Take My Money's users</h1>
        <table class="table">
            <thead>
                <th>User email</th>
                <th>User id</th>
                <th>Role</th>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_email }}</td>
                <td>{{ user.user_id }}</td>
                <td>{{ user.role }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}