{% extends "base.html" %}

{% block title %}Details of {{ user_name }}{% endblock %}

{% block content %}
<div class="ui card centered">
    <div class="content">
        <div class="header">{{ target_name }}</div>
        <div class="meta">{{ target_email }}</div>
    </div>
    {% if role == 'admin' %}
        <div class="extra content">
            <span class="left floated">
                <b>User role: {{ target_role }}</b>
            </span>
            <span class="right floated">
                {% if target_role != 'admin' %}
                    <a href="/makeAdmin/?user_id={{ target_id }}" class="ui orange button" role="button">Make Admin</a>
                {% endif %}
                {% if me %}
                    <a href="/revokeAdmin/" class="ui orange button" role="button">Revoke Admin</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}