cloudinary==1.6.0                           # library for image upload, download, and manipulation on the cloud (for Cloudinary)
Django==1.10.5                              # Django web framework
psycopg2==2.6.2                             # Postgres driver
